<template>
  <v-container fluid fill-height>
    <v-card style="height: 100%; width: 100%">
      <v-toolbar dark color="#40fc94">
        <v-toolbar-title style="font-size: 24px">{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <NumericPad></NumericPad>

      <v-tabs
        v-model="active_tab"
        v-show="showTabs"
        height="80"
        fixed
        centered
        color="#40fc94"
      >
        <v-tabs-slider centered></v-tabs-slider>
        <v-tab
          :ref="'tab-' + item.id"
          v-for="item in areas"
          :key="item.id"
          :href="'#tab-' + item.id"
          @click="setArea(item.id)"
          :disabled="showTab(item.id)"
        >
          <span style="font-size: 24px">{{ item.name }}</span>
        </v-tab>
      </v-tabs>

      <v-row justify-center align="center">
        <v-col v-for="(goal, index) in paginated" :key="index" cols="4">
          <v-btn
            class="mr-2"
            block
            height="120"
            elevation="2"
            dark
            :color="isSelected(goal.id)"
            @click="setGoal(goal)"
          >
            <span style="font-size: 24px" v-html="goal.name"></span>
          </v-btn>
        </v-col>
      </v-row>

      <v-footer dark app style="height: 80px">
        <v-row>
          <v-col v-if="showPrev">
            <v-btn color="#40fc94" class="mx-5" @click="prev">
              {{ $t("previous") }}
            </v-btn>
          </v-col>
          <!--
          <v-col align="center">
            <v-btn class="mx-5" @click="exit()"> {{ $t("cancel") }} </v-btn>
          </v-col>
          -->
          <v-col v-if="showNext" align="right">
            <v-btn color="#40fc94" class="mx-5" @click="next()">
              {{ $t("next") }}
            </v-btn>
          </v-col>
        </v-row>
      </v-footer>
    </v-card>
  </v-container>
</template>

<script>
//import {bus} from '../main'
import NumericPad from "@/components/NumericPad";
import JSONGoals from "@/data/goals.json";
import JSONAreas from "@/data/areas.json";

export default {
  name: "Home",
  mounted: function () {},
  components: {
    NumericPad
  },
  sockets: {
    message(data) {
      var title = data.title;
      var text = data.text;
      var showCancel = true;

      if (!data.title && !data.text) {
        this.$swal.close();
        return true;
      }

      if (!data.titlecolor){
        data.titlecolor = 'black';
      }
      if (!data.textcolor){
        data.textcolor = 'black';
      }
      
      title = '<span style="color: ' + data.titlecolor + '">' + title + '</span>';
      text = '<span style="color: ' + data.textcolor + '">' + text + '</span>';

      if (data.title == "ARRÊT D'URGENCE ENFONCÉ") {
        showCancel = false;
      }

      this.$swal({
        title: title,
        html: text,
        showCloseButton: false,
        showCancelButton: showCancel,
        showConfirmButton: false,
        allowOutsideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
      }).then((result) => {
        if (result.isDismissed && result.dismiss) {
          this.$socket.emit("cancelGoal");
        }
      });
    },

    goals(data) {
      this.$data.goals = data;
    },
    areas(data) {
      this.$data.areas = data;
    },
  },
  methods: {
    showTab(id) {
      var len = this.goals.filter(
        (c) => (!this.field || c.type == this.field) && c.area == id
      ).length;

      return len ? false : true;
    },

    isSelected(id) {
      return this.value == id ? "red" : "";
    },

    setGoal(goal) {
      if (!goal.action) goal.action = "socket";

      if (goal.action == "image") {
        this.$swal({
          imageUrl: goal.image,
          imageAlt: goal.name,
          imageWidth: 700,
          width: 1200,
          confirmButtonColor: "#40fc94"
        });

        return true;
      }

      switch (goal.id) {
        case "dock":
          this.$socket.emit("patrolDock");
          break;

        case "localize":
          this.$swal({
            title: "<span style=color:black>Êtes-vous sûr de vouloir relocaliser le robot?</span>",
            showCancelButton: true,
            showConfirmButton: true,
            confirmButtonColor: "#40fc94"
          }).then((result) => {

            if (result.isConfirmed) {
              //bus.$emit('numericpad', true);
               this.$swal({
                title: "<span style=color:black>Inscrire le NIP</span>",
                input: 'password',
                inputPlaceholder: 'Inscrire le NIP',
                confirmButtonColor: "#E65100",
                inputAttributes: {
                  maxlength: 10,
                  autocapitalize: 'off',
                  autocorrect: 'off'
                }
              }).then((result) => {
                //if (result.isConfirmed && result.value == this.pin) {
                if (result.isConfirmed) {
                  this.$socket.emit("robotLocalize", result.value);
                }
              })
            }
          });
          break;

        case "set_rgb_color":

          this.$swal({
                title: "Spécifier les canaux R, G et B",
                html:"<input id='R' class='swal-input1' placeholder='R'>" + 
                      "<input id='G' class='swal-input2' placeholder='G'>" + 
                      "<input id='B' class='swal-input2' placeholder='B'>",
                confirmButtonColor: "#40fc94",
                preConfirm: function(){

                  return new Promise((resolve) => {
                    resolve({
                      r: document.getElementById('R').value,
                      g: document.getElementById('G').value,
                      b: document.getElementById('B').value,
                    });
                  })
                }
              }).then((result) => {
                console.dir(result)
                if (result.isConfirmed) {
                  this.$socket.emit("setRGBColor", result.value['r'] + " " + result.value['g'] + " " + result.value['b']);
                }
              })
          break;

        case "nexmo":
          var title = "Entrez votre numéro de cellulaire ainsi que le message à envoyer"
          var html = "<input id='phone_num' class='swal-input1' placeholder='Numéro de cellulaire'>" + 
                      "<input id='text' class='swal-input2' placeholder='Texte'>"
          var emit_type = ""

          if (goal.type == "sms"){
            emit_type = "sendSMS"
          }
          else if (goal.type == "call"){
            emit_type = "sendVoiceCall"
          }

          this.$swal({
                title: title,
                html: html,
                confirmButtonColor: "#40fc94",
                preConfirm: function(){

                  return new Promise((resolve) => {
                    resolve({
                      phone_num: document.getElementById('phone_num').value,
                      text: document.getElementById('text').value,
                    });
                  })
                }
              }).then((result) => {
                console.dir(result)
                if (result.isConfirmed) {
                  this.$socket.emit(emit_type, result.value['phone_num'] + " " + result.value['text']);
                }
              })
          break;

        case "speak":
          this.$swal({
                title: "Spécifier le texte à dire",
                html:"<input id='text' class='swal-input1' placeholder='Texte'>",
                confirmButtonColor: "#40fc94",
                preConfirm: function(){

                  return new Promise((resolve) => {
                    resolve({
                      text: document.getElementById('text').value,
                    });
                  })
                }
              }).then((result) => {
                console.dir(result)
                if (result.isConfirmed) {
                  this.$socket.emit("speak", result.value['text']);
                }
              })
          break;

        case "change_area":
          this.area = 2;
          this.$ref["tab-2"].click();
          break;

        case "set_color":
          this.$socket.emit("setColor", goal.color);
          break;

        case "ouvrir_porte":
          this.$socket.emit("openDoor", goal.door);
          break;

        case "fermer_porte":
          this.$socket.emit("closeDoor", goal.door);
          break;

        case "stopDoorMotion":
          this.$socket.emit("stopDoorMotion");
          break;

        case "setRoute":
          this.$socket.emit("replaceRoute", goal.route);
          break;

        default:
          this.$socket.emit("setgoal", goal.id);
          break;
      }
    },
    prev() {
      this.current--;
      if (this.current <= 0) this.current = 1;
    },

    next() {
      this.current++;

      if (this.current > this.maxPage) this.current = this.maxPage;
    },

    setArea(area_id) {
      this.area = area_id;
      this.active_tab = "tab-" + area_id;
    },
  },
  computed: {
    showTabs() {
      return true;
      // this.field != "door";
    },
    showNext() {
      return this.current < this.maxPage;
    },
    showPrev() {
      return this.current > 1;
    },
    maxPage() {
      return parseInt(this.filtered.length / this.pageSize) + 1;
    },
    indexStart() {
      return (this.current - 1) * this.pageSize;
    },
    indexEnd() {
      return this.indexStart + this.pageSize;
    },
    filtered() {
      return this.goals.filter(
        (c) =>
          !this.areas.length ||
          ((!this.field || c.type == this.field) && c.area == this.area)
      );
    },
    paginated() {
      return this.filtered.slice(this.indexStart, this.indexEnd);
    },
    active_tab: {
      get: function() {
        return "tab-" + this.area;
      },
      set: function(newVal) {
        console.log(newVal);
      }

    },
  },

  data: function () {
    return {
      area: 1,
      current: 1,
      pageSize: 16,
      title: this.$t("select_destination"),
      pin: "1234",
      goals: JSONGoals,
      areas: JSONAreas,
    };
  },
};

</script>

<style>
  button {
    height: 75px;
    width: 125px;
    font-size: 24px !important;
    text-align: center !important;
  }

  input {
    font-size: 60px !important;
  }

  .swal2-title {
    font-size: 50px !important;
  }

  .swal2-html-container{
    font-size: 36px !important;
    margin: 0 !important;
  }

  .swal2-input{
    font-size : 24px !important;
  }

  .swal2-popup{
    width: 100% !important;
  }

  .swal2-styled.swal2-confirm{
    color:black !important;
  }

  .theme--dark.v-sheet{
    color: black;
  }
</style>
