<template>
  <v-container fluid>
    <v-row justify="end" align="center">
      <v-btn elevation="0" @click="openOptions">
        <h4 class="mx-1">{{ batteryLevel }}%</h4>
        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24" class="mr-2">
          <path
            :fill="batteryColor"
            d="M16.67,4H15V2H9V4H7.33A1.33,1.33 0 0,0 6,5.33V20.67C6,21.4 6.6,22 7.33,22H16.67A1.33,1.33 0 0,0 18,20.67V5.33C18,4.6 17.4,4 16.67,4Z"
          />
        </svg>
      </v-btn>
      <!--      <v-icon class="mr-2">mdi-battery</v-icon>-->
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24" class="mx-2">
        <path
          :fill="backendColor"
          d="M4,1C2.89,1 2,1.89 2,3V7C2,8.11 2.89,9 4,9H1V11H13V9H10C11.11,9 12,8.11 12,7V3C12,1.89 11.11,1 10,1H4M4,3H10V7H4V3M3,13V18L3,20H10V18H5V13H3M14,13C12.89,13 12,13.89 12,15V19C12,20.11 12.89,21 14,21H11V23H23V21H20C21.11,21 22,20.11 22,19V15C22,13.89 21.11,13 20,13H14M14,15H20V19H14V15Z"
        />
      </svg>

      <v-icon class="mx-2" :color="internetColor" :icon="internetIcon">mdi-wifi</v-icon>
      <!--      <v-icon :color="backendColor" class="mx-2">{{ backendIcon }}</v-icon>-->

      <SwitchLanguage />
    </v-row>
  </v-container>
</template>

<script>
import SwitchLanguage from "./SwitchLanguage";

export default {
  name: "Navbar",
  components: {
    SwitchLanguage,
  },
  props: {
    isConnected: Boolean,
    isReachable: Boolean
  },
  methods: {
    openOptions() {
      if (this.clickCount === 5) {
        this.clickCount = 0;
        // router.push({ name: "Tools" });
      }

      this.clickCount++;
    },
  },
  sockets: {
    // Fired when the server sends something.
    batterySoC(data) {
      this.batteryLevel = data.state_of_charge;
    },
  },
  data() {
    return {
      clickCount: 0,
      batteryLevel: 0,
    };
  },
  computed: {
    batteryColor() {
      if (this.batteryLevel > 50) return "green";
      if (this.batteryLevel > 25) return "orange";
      return "red";
    },
    internetIcon() {
      return "mdi-wifi";
    },
    internetColor() {
      if (this.isReachable) {
        return "green";
      } else {
        return "red";
      }
    },
    backendColor() {
      if (this.isConnected) {
        return "green";
      } else {
        return "red";
      }
    },
  },
};
</script>

<style scoped></style>
