<template>
  <v-dialog align="center" hide-overlay v-model="dialog">
    <v-card style="width: 100%">
      <v-row
        align-h="center"
        align-v="center"
        style="height: 75vh; margin: 25px"
      >
        <v-col cols="12" align-v="center" style="width: 100vh">
          <H1 class="mb-3 text-center card"
            ><span class="mt-2">{{ headerText }}</span></H1
          >
          <table class="keypad">
            <tr class="key-row">
              <td class="key-cell" v-on:click="addNumber($event, '1')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="1"
                  :disabled="desactivateKeyboard"
                >
                  1
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '2')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="2"
                  :disabled="desactivateKeyboard"
                >
                  2
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '3')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="3"
                  :disabled="desactivateKeyboard"
                >
                  3
                </button>
              </td>
            </tr>
            <tr class="key-row">
              <td class="key-cell" v-on:click="addNumber($event, '4')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="4"
                  :disabled="desactivateKeyboard"
                >
                  4
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '5')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="5"
                  :disabled="desactivateKeyboard"
                >
                  5
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '6')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="6"
                  :disabled="desactivateKeyboard"
                >
                  6
                </button>
              </td>
            </tr>
            <tr class="key-row">
              <td class="key-cell" v-on:click="addNumber($event, '7')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="7"
                  :disabled="desactivateKeyboard"
                >
                  7
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '8')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="8"
                  :disabled="desactivateKeyboard"
                >
                  8
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '9')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="9"
                  :disabled="desactivateKeyboard"
                >
                  9
                </button>
              </td>
            </tr>
            <tr class="key-row">
              <td
                class="key-cell"
                colspan="2"
                v-on:click="addNumber($event, 'Back')"
              >
                <button
                  class="key metal linear wide-key"
                  type="button"
                  accesskey="b"
                  :disabled="desactivateKeyboard"
                >
                  <v-icon>arrow-left-circle</v-icon>
                </button>
              </td>
              <td class="key-cell" v-on:click="addNumber($event, '0')">
                <button
                  class="key metal linear"
                  type="button"
                  accesskey="0"
                  :disabled="desactivateKeyboard"
                >
                  0
                </button>
              </td>
            </tr>
            <tr class="key-row">
              <td class="key-cell" v-on:click="cancelDialog">
                <button
                  id="btn_cancel"
                  class="key wide-key metal linear"
                  type="button"
                  accesskey="x"
                  :disabled="desactivateKeyboard"
                >
                  ANNULER
                </button>
              </td>

              <td class="key-cell" colspan="2" v-on:click="validateCodeNumber">
                <button
                  id="btn_validate"
                  class="key wide-key metal linear"
                  type="button"
                  accesskey="k"
                  :disabled="desactivateKeyboard"
                >
                  OK
                </button>
              </td>
            </tr>
          </table>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import {bus} from "../main";

export default {
  name: "NumericPad",
  sockets: {},
  created() {
    let vm = this;
    bus.$on("numericpad", function (value) {
      console.log("Numeric Pad");
      vm.dialog = value;
    });
  },
  computed: {
    headerText() {
      if (this.codeNumber === "") {
        return " ";
      } else {
        return this.codeNumber;
      }
    },
    desactivateKeyboard() {
      return false;
    },
  },
  /** Any data must be wrapped in a fn to isolate it in case this component is used multiple times */
  data: function () {
    return {
      codeNumber: "",
      dialog: false,
    };
  },
  methods: {
    cancelDialog() {
      this.dialog = false;
    },
    addNumber(event, number) {
      // Concatenate string number
      if (number === "Back") {
        this.codeNumber = this.codeNumber.slice(0, -1);
      } else {
        if (this.codeNumber.length < 8) {
          this.codeNumber += number;
        }
      }
    },
    validateCodeNumber(event) {
      console.log("Button Pressed. Event Data: ", event);

      if (this.codeNumber !== "") {
        this.$socket.emit("validateAdmin", this.codeNumber);
        this.cancelDialog();
      }
    },
  },
};
</script>

<style scoped>
button {
  border: none;
  display: block;
}
a {
  text-decoration: none;
  display: block;
}

.keypad {
  margin: auto;
  padding: 0;
  width: 450px; /* not actually a static size, % in real use */
}

.keypad .key-row {
  width: 100%;
}

.keypad .key-row .key-cell {
  padding: 6px;
  width: 25%;
}

.keypad .key-row .key-cell button.key {
  /* background-color: #1a1a1a;
    color: rgb(179, 179, 179);
    border-color: #3FF996; */
  font-size: xxx-large;
  /* font-weight: bold; */
  height: 50px;
  width: 100%;
  /* cursor: none; */
  /* border-radius: 6px; */
  /* transition-duration: 0.4s;     */
}

.keypad .key-row .key-cell button.key:active {
  color: #e65100;
  text-shadow: hsla(210, 100%, 20%, 0.3) 0 -1px 0;
  box-shadow: inset #e65100 0 0px 0px 2px,
    /* border */ inset #e65100 0 -1px 5px 2px,
    /* soft SD */ inset #e65100 0 -1px 0px 4px,
    /* bottom SD */ inset hsla(210, 100%, 100%, 0.7) 0 2px 1px 4px,
    /* top HL */ rgba(230, 81, 0, 0.74) 0 0px 3px 2px,
    /* outer SD */ rgba(4, 71, 15, 0.25) 0 -5px 6px 4px,
    /* outer SD */ rgb(232, 252, 235) 0 2px 3px 1px; /* outer HL */
}

.keypad .key-row .key-cell button.key.tall-key {
  height: 144px;
}

.keypad .key-row .key-cell button.key.wide-key {
}

.keypad .key-row .key-cell button .key-alt-fn {
  font-size: small;
  font-weight: normal;
}

.card {
  background-color: #cbcbcb;
  color: rgb(53, 53, 53);
  border-radius: 15px;
  width: 100%;
  font-size: xxx-large;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.metal {
  position: relative;
  /* margin: 40px auto; */
  outline: none;
  font: bold 2em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;

  background-color: hsl(0, 0%, 90%);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    /* soft SD */ inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    /* bottom SD */ inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px,
    /* outer SD */ hsla(0, 0%, 100%, 0.5) 0 2px 3px 1px; /* outer HL */

  transition: color 0.2s;
}

.metal.linear {
  width: 100px;
  font-size: 2em;
  height: 80px;
  border-radius: 0.3em;
  background-image: -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 6%,
      hsla(0, 0%, 100%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          4%, hsla(0, 0%, 0%, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );
}
</style>
