<template>
  <div>
    <select  v-model="$i18n.locale">
      <option
          v-for="(lang, i) in langs"
          :key="`lang-${i}`"
          :value="lang">
        {{ lang }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'SwitchLanguage',
  data () {
    return { langs: ['Français', 'English'] }
  }
}
</script>

<style scoped>
select {
  filter: invert(100%) sepia(26%) saturate(196%) hue-rotate(3deg)
  brightness(121%) contrast(100%);
}

select {
  line-height: 49px;
  height: 38px;
  font-size: 18px;
  outline: 0;
  margin-bottom: 15px;
}
</style>
