<template>
  <v-app>
    <v-app-bar dark app>
      <v-toolbar-items class="hidden-sm-and-down"> </v-toolbar-items>
      <Navbar :is-connected="isConnected" :is-reachable="isReachable" />
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid fill-height>
        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar";

export default {
  name: "App",

  data: () => ({
    isConnected: false,
    isReachable: false,
    polling: null,
  }),
  computed: {},
  components: {
    Navbar,
  },
  sockets: {
    connect() {
      this.isConnected = true;
    },
    disconnect() {
      this.isConnected = false;
    },
  },
  created() {
    this.checkWAN();
    this.pollCheck();
  },
  methods: {
    pollCheck() {
      this.polling = setInterval(() => {
        this.checkWAN();
      }, 30000);
    },
    checkWAN() {
      fetch("https://google.com", {
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        mode: "no-cors",
      })
        .then((result) => {
          console.log(result);
          this.isReachable = true;
        })
        .catch((e) => {
          console.error(e);
          this.isReachable = false;
        });
    },
  },
};
</script>

<style>
html {
  overflow-y: auto !important;
}
</style>
